<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.BuddyFindingMapper">
  
  <insert id="insertBF" parameterType="buddyFinding">
  	INSERT INTO finding_buddy (buddy_idx, place_name, lat, lng, title, content, travel_dt,
		mem_id, created_at)
		VALUES (buddy_idx_seq.nextval, #{place_name}, #{lat}, #{lng}, #{title}, #{content}, #{travel_dt},
		#{mem_id}, sysdate)
  </insert>
  
  <delete id="deleteBF">
  	delete from finding_buddy where buddy_idx=#{buddy_idx}
  </delete>
  

  
</mapper>