<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- CommunityMapper.xml -->

<mapper namespace="com.smhrd.db.CommunityMapper">

    <!-- insertCommunity 쿼리 -->
    <insert id="insertCommunity" parameterType="com.smhrd.model.Community">
        INSERT INTO community_file (file_name, file_size, file_ext, uploaded_at)
        VALUES (#{file_name}, #{file_size}, #{file_ext}, #{uploaded_at})
    </insert>

</mapper>
