<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- CommunityMapper.xml -->

<mapper namespace="com.smhrd.db.CommunityMapper">

    <!-- insertCommunity 쿼리 -->
    <insert id="insertCommunity" parameterType="com.smhrd.model.Community">
        INSERT INTO community (b_category, b_content, created_at, mem_id, title)
        VALUES (#{b_category}, #{b_content}, #{created_at}, #{mem_id}, #{b_title})
    </insert>

</mapper>
