<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.db.CommunityMapper">

    <insert id="insertCommunity" parameterType="Community">
        INSERT INTO web_board (B_IDX, B_CATEGORY, B_CONTENT, CREATED_AT, MEM_ID)
        VALUES (num_board.nextval, #{bCategory}, #{bContent}, #{createdAt}, #{memId})
    </insert>

</mapper>
