<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.smhrd.db.MessageMapper">
  
  <insert id = "sendMessage" parameterType="Message">
  	insert into web_message values(num_message.nextval, #{sender}, #{receiver}, #{message},sysdate)
  </insert>
  
  <select id = "messageList" parameterType="String" resultType="Message">
  	select * from web_message where receiver=#{email}
  </select>
  	
  </mapper>